In [1]:
import yfinance as yf

multi_data = yf.download(["AAPL", "MSFT","GOOG"], start="2022-01-01", end="2023-01-01").reset_index()
multi_data.head()

[*********************100%%**********************]  3 of 3 completed

Price        Date   Adj Close                               Close              \
Ticker                   AAPL        GOOG        MSFT        AAPL        GOOG
0      2022-01-03  179.724564  145.074493  328.120880  182.009995  145.074493
1      2022-01-04  177.443588  144.416504  322.494537  179.699997  144.416504
2      2022-01-05  172.723587  137.653503  310.114685  174.919998  137.653503
3      2022-01-06  169.840240  137.550995  307.664154  172.000000  137.550995
4      2022-01-07  170.008133  137.004501  307.821014  172.169998  137.004501

Price                     High                                 Low  \
Ticker        MSFT        AAPL        GOOG        MSFT        AAPL
0       334.750000  182.880005  145.550003  338.000000  177.710007
1       329.010010  182.940002  146.610001  335.200012  179.119995
2       316.380005  180.169998  144.298004  326.070007  174.639999
3       313.880005  175.300003  139.686005  318.700012  171.639999
4       314.040009  174.139999  138.254745  316.500000  171.029999

Price                                 Open                             Volume  \
Ticker        GOOG        MSFT        AAPL        GOOG        MSFT       AAPL
0       143.502502  329.779999  177.830002  144.475494  335.350006  104487900
1       143.816147  326.119995  182.630005  145.550507  334.829987   99310400
2       137.523499  315.980011  179.610001  144.181000  325.859985   94537600
3       136.763504  311.489990  172.699997  137.497498  313.149994   96904000
4       135.789001  310.089996  172.889999  137.904999  314.149994   86709100

Price
Ticker      GOOG      MSFT
0       25214000  28865100
1       22928000  32674300
2       49642000  40054300
3       29050000  39646100
4       19408000  32720000

In [6]:
import numpy as np
import pandas as pd

In [7]:
#Simulate the purchase of $1000 worth of each stock at the beginning of the simulation
simulation_pur = 1000
simulation_stock = len(multi_data)
purchase_price = simulation_pur /simulation_stock
purchase_price

3.9840637450199203