In [1]:
'''Problem: Use Pandas to load a dataset containing information about movies, including columns: 
'Title', 'Genre', 'Year', and 'Rating'. Write a Python script to:

Filter the DataFrame to select movies released after 2010 with a rating above 8.
Display the top 10 movies based on their ratings.
Count the number of movies in each genre category.'''

"Problem: Use Pandas to load a dataset containing information about movies, including columns: \n'Title', 'Genre', 'Year', and 'Rating'. Write a Python script to:\n\nFilter the DataFrame to select movies released after 2010 with a rating above 8.\nDisplay the top 10 movies based on their ratings.\nCount the number of movies in each genre category."

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("movies_data.csv")

In [4]:
data

                                                Title      Genre  Year  Rating
0                            The Shawshank Redemption      Drama  1994     9.3
1                                       The Godfather      Crime  1972     9.2
2                                     The Dark Knight     Action  2008     9.0
3                                        Pulp Fiction      Crime  1994     8.9
4       The Lord of the Rings: The Return of the King  Adventure  2003     8.9
5                                        Forrest Gump      Drama  1994     8.8
6                                          Fight Club      Drama  1999     8.8
7                                           Inception     Action  2010     8.8
8                                          The Matrix     Action  1999     8.7
9                                        Interstellar  Adventure  2014     8.6
10  The Lord of the Rings: The Fellowship of the Ring  Adventure  2001     8.8
11              The Lord of the Rings: The Two Towers  Adventure  2002     8.7
12                           The Silence of the Lambs   Thriller  1991     8.6
13                                Saving Private Ryan        War  1998     8.6
14                                   Schindler's List  Biography  1993     8.9
15                                     The Green Mile      Crime  1999     8.6
16                             The Godfather: Part II      Crime  1974     9.0
17                                       The Departed      Crime  2006     8.5
18                                          Gladiator     Action  2000     8.5
19                                       The Prestige    Mystery  2006     8.5
20                                      The Lion King  Animation  1994     8.5
21                                 The Usual Suspects      Crime  1995     8.5
22                                        The Pianist  Biography  2002     8.5
23                                   The Intouchables  Biography  2011     8.5
24                                    The Sixth Sense      Drama  1999     8.1
25                                 The Social Network  Biography  2010     7.7
26                                    The Truman Show     Comedy  1998     8.1
27                           The Grand Budapest Hotel     Comedy  2014     8.1
28                              The Dark Knight Rises     Action  2012     8.4
29                                       The Avengers     Action  2012     8.0
30                                    The Incredibles  Animation  2004     8.0
31                                     The Terminator     Action  1984     8.0
32                                        The Shining     Horror  1980     8.4
33                                       The Exorcist     Horror  1973     8.0
34                                       The Departed      Crime  2006     8.5
35                                       The Prestige    Mystery  2006     8.5
36                                      The Lion King  Animation  1994     8.5
37                                 The Usual Suspects      Crime  1995     8.5
38                                        The Pianist  Biography  2002     8.5
39                                   The Intouchables  Biography  2011     8.5
40                                    The Sixth Sense      Drama  1999     8.1
41                                 The Social Network  Biography  2010     7.7
42                                    The Truman Show     Comedy  1998     8.1
43                           The Grand Budapest Hotel     Comedy  2014     8.1
44                              The Dark Knight Rises     Action  2012     8.4
45                                       The Avengers     Action  2012     8.0
46                                    The Incredibles  Animation  2004     8.0
47                                     The Terminator     Action  1984     8.0
48                                        The Shining     Horror  1980     8.4
49                                       The Exorcist     Horror  1973     8.0

In [10]:
#Filter the DataFrame to select movies released after 2010 with a rating above 8.
filter_data = data[(data['Year'] > 2010) & (data['Rating'] > 8)]
filter_data

                       Title      Genre  Year  Rating
9               Interstellar  Adventure  2014     8.6
23          The Intouchables  Biography  2011     8.5
27  The Grand Budapest Hotel     Comedy  2014     8.1
28     The Dark Knight Rises     Action  2012     8.4
39          The Intouchables  Biography  2011     8.5
43  The Grand Budapest Hotel     Comedy  2014     8.1
44     The Dark Knight Rises     Action  2012     8.4

In [11]:
#Display the top 10 movies based on their ratings.
top_10 = data.nlargest(10,'Rating')
top_10

                                            Title      Genre  Year  Rating
0                        The Shawshank Redemption      Drama  1994     9.3
1                                   The Godfather      Crime  1972     9.2
2                                 The Dark Knight     Action  2008     9.0
16                         The Godfather: Part II      Crime  1974     9.0
3                                    Pulp Fiction      Crime  1994     8.9
4   The Lord of the Rings: The Return of the King  Adventure  2003     8.9
14                               Schindler's List  Biography  1993     8.9
5                                    Forrest Gump      Drama  1994     8.8
6                                      Fight Club      Drama  1999     8.8
7                                       Inception     Action  2010     8.8

In [14]:
#Count the number of movies in each genre category.
count_movies = data['Genre'].value_counts().reset_index()
count_movies

        Genre  count
0      Action     10
1       Crime      8
2   Biography      7
3       Drama      5
4   Adventure      4
5   Animation      4
6      Comedy      4
7      Horror      4
8     Mystery      2
9    Thriller      1
10        War      1